[ddns=services.namecheapddnsservice.NamecheapDdnsService.NamecheapDdnsService]
Host=%(NAMECHEAP_HOST)s
Domain=%(NAMECHEAP_DOMAIN)s
Password=%(NAMECHEAP_DDNS_PASSWORD)s
RepeatPeriodInSec=%(CHECK_PERIOD)s

[pushover=services.pushovernotifierservice.PushoverNotifierService.PushoverNotifierService]
UserToken=%(PUSHOVER_USER_TOKEN)s
AppToken=%(PUSHOVER_APP_TOKEN)s
ErrorPriority=1
InfoPriority=-1

[ipmonitor=services.selfipmonitoringservice.SelfIpMonitoringService.SelfIpMonitoringService]
IpCheckIntervalInSeconds=%(CHECK_PERIOD)s
